<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="{% static 'home.css' %}">
</head>
<body>
    <h1>HomePage</h1>
    <h2>Portfolio</h2>
    <h4>Introduction</h4>
    <p>welcome to my webpage this is my portfolio and i'll like you to go through this . hello once again i am dhruv sharma , i am from delhi and have completed my  </p>
    <p> ### this is changed code ###</p>
    <button onclick='colchange()'>AQUA</button>
    
    <script src="{% static 'home.js' %}"></script>
</body>
</html>
